# Spam Detection
**Created by Yusuf Arico**

A Simple Program to detecting spam message. Spam detection means detecting spam messages/emails by understanding text so that you can only receive notifications about messages/emails that important to you. With python, the messages/emails can be categorized as a spam or not.

In [6]:
# import library
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [7]:
# import the dataset
df = pd.read_csv("https://raw.githubusercontent.com/amankharwal/SMS-Spam-Detection/master/spam.csv", encoding='latin-1')

In [8]:
# show data
df.head()

,class,message,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

From this dataset were only need 2 features, **class** and **messages.**

In [9]:
#filtering data
data = df[["class", 'message']]
data

     class                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

### Split dataset into training and test

now split this dataset into training and test sets and train the model to detect spam messages:

In [10]:
x = np.array(data['message'])
y = np.array(data['class'])

cv = CountVectorizer()
X = cv.fit_transform(x) # fit the data
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=42)

clf = MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB()

***we can test the model by input a message like spam to detect whether its spam or not***

In [18]:
sample = input('Messages:')
data = cv.transform([sample]).toarray()
print(clf.predict(data))

Messages:free entry to bali
['spam']